@using PontoRemoto.Application.Resources

@model PontoRemoto.Web.Models.ChangePasswordViewModel

@{
    ViewBag.Title = Labels.ChangePassword;
}

@section topcontent
{
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-9">
            <h2>@Labels.ChangePassword</h2>

            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "Home")">@Labels.Home</a>
                </li>
                <li class="active">
                    <strong>@Labels.ChangePassword</strong>
                </li>
            </ol>
        </div>
    </div>
}

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.Partial("_ValidationErrors")

    <div class="form-group">
        @Html.LabelFor(m => m.OldPassword, new { @class = "col-lg-2 control-label" })

        <div class="col-lg-10">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.OldPassword)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-lg-2 control-label" })

        <div class="col-lg-10">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.NewPassword)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-lg-2 control-label" })

        <div class="col-lg-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <input type="submit" value="@Labels.ChangePassword" class="btn btn-primary" />
        </div>
    </div>
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}