@using PontoRemoto.Application.Resources
@using PontoRemoto.Web.Helpers

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <title>@Texts.ApplicationName @Texts.ApplicationNameComplement | @ViewBag.Title</title>
    
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    
        <!-- Add local styles, mostly for plugins css file -->
        @if (IsSectionDefined("Styles"))
        {
            @RenderSection("Styles", required: false)
        }

        <!-- Primary Inspinia style -->
        @Styles.Render("~/font-awesome/css")
        @Styles.Render("~/Content/css")
        @Styles.Render("~/plugins/toastrStyles")
    
        <!-- Section for main scripts render -->
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/plugins/slimScroll")
        @Scripts.Render("~/bundles/inspinia")
        @Scripts.Render("~/plugins/toastr")
    </head>
    <body>
        @Html.StatusMessage(5000)

        <!-- Wrapper-->
        <!-- PageClass give you ability to specify custom style for specific view based on action -->
        <div id="wrapper" class="@Html.PageClass()">
            <!-- Navigation -->
            @Html.Partial("_Navigation")

            <!-- Page wraper -->
            <div id="page-wrapper" class="gray-bg @ViewBag.SpecialClass">
                <!-- Top Navbar -->
                @Html.Partial("_TopNavbar")
                
                <!-- Breadcrumb -->
                @RenderSection("topcontent", required: false)

                <!-- Main view -->
                <div class="wrapper wrapper-content">
                    @RenderBody()
                </div>

                <!-- Footer -->
                @Html.Partial("_Footer")
            </div>
            <!-- End page wrapper-->

        </div>
        <!-- End wrapper-->

        <!-- Handler for local scripts -->
        @RenderSection("scripts", required: false)
    </body>
</html>